<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <title>Boolfix</title>
</head>
<body>
    <div id="app">
        <div class="container">
            <header class="site_header">
                <div class="nav">
                    <h1>NETFLIX</h1>
                    <div class="search">
                        <input type="search" placeholder="search movies" @keyup.enter="searchMovies" v-model="search">
                        <button @click="searchMovies"><i class="fas fa-search"></i></button>
                    </div>
                    <div class="searchTv">
                        <input type="search" placeholder="search tv shows" @keyup.enter="searchTvShows" v-model="searchTv">
                        <button @click="searchTvShows"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </header>
            <main class="site_main">
                <div class="colonne">
                    <div class="film">
                        <h1>Film</h1>
                        <ul class="card">
                            <li class="column" v-for="movies in moviesData">
                                <div class="overview hidden">
                                    <p>Cast:</p>
                                    <div class="cast"  v-for="cast in castData">
                                        <ul v-for="cast.name"v-if="cast.known_for_department === 'Acting'">
                                            <li>{{cast.name}}</li>
                                        </ul>
                                        
                                    </div>
                                    <div class="descrizione">
                                        Overview: {{movies.overview}}

                                    </div>
                                    <p>Titolo: {{movies.title}}</p>
                                    <div v-if="movies.original_title != movies.title">
                                       <p> Titolo originale: {{movies.original_title}}</p>
                                    </div>
                                    <div class="star">
                                        voto:
                                        <span v-for="n in Math.ceil(movies.vote_average % 2)"><i id="piena" class="fas fa-star"></i></span>
                                        <span v-for="n in (5 - Math.ceil(movies.vote_average % 2))"><i id="vuota" class="far fa-star"></i></span>
                                    </div>
                                    <img id="flags" :src="'https://www.unknown.nu/flags/images/' + movies.original_language + '-100'">
                                </div>
                                <div class="image"  v-if="movies.poster_path != null ">
                                    <img id="poster" :src="'https://image.tmdb.org/t/p/w342/' + movies.poster_path">
                                </div>
                                <div class="not_image" v-else="movies.poster_path = null ">
                                    
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="series">
                        <h1>Tv SHOWS</h1>
                        <ul class="card">
                            <li class="column" v-for="series in tvData">
                                <div v-if="series.overview != '' " class="overview hidden">
                                    {{series.overview}}
                                    <p>{{series.name}}</p>
                                    <div v-if="series.name != series.original_name">
                                        <p>{{series.original_name}}</p>
                                    </div>
                                    <div class="star">
                                        <span v-for="n in Math.ceil(series.vote_average % 2)"><i id="piena" class="fas fa-star"></i></span>
                                        <span v-for="n in (5 - Math.ceil(series.vote_average % 2))"><i id="vuota" class="far fa-star"></i></span>
                                    </div>
                                    <img id="flags" :src="'https://www.unknown.nu/flags/images/' + series.original_language + '-100'">
                                </div>
                                <div class="image" v-if="series.poster_path != null ">
                                    <img id="poster" :src="'https://image.tmdb.org/t/p/w342/' + series.poster_path" >
                                </div>
                                <div class="not_image" v-else="series.poster_path = null ">
                                    
                                </div>
                            </li>
                        </ul>
                    </div> 
                </div>   
            </main>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="./main.js"></script>
</body>
</html>